.imgArticle {
    object-fit: cover;
    width:100%;
    height: 236px;
}

.logoSource {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.nameMedia {
    border:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}



.logoNews {
    width: 7%;
    height: 10%;
    margin-right: 11px;
}

.textNewsItem {
    padding-inline: 20px;
    padding-top: 20px;
}

.nameMedia{
    color:black;
}

.titleArticle{
font-weight: 2px;
font-size: 14px;
color:#242424;
}

.descArticle {
font-size: 14px;
color: black;
}

.url{
font-size: 10px;
color: black;
text-decoration: underline; 
cursor: pointer;
}

.datePublishing{
font-size: 18px;
color: #242424 ;
}