.imgArticle {
    object-fit: cover;
    width:100%;

}

.textNewsItem {
    padding-inline: 20px;
    padding-top: 20px;
}

.nameMedia{
    color:black;
}

.titleArticle{
font-weight: 2px;
font-size: 14px;
color:#242424;
}

.descArticle {
font-size: 14px;
color: black;
}

.url{
font-size: 10px;
color: black;
text-decoration: underline; 
cursor: pointer;
}

.datePublishing{
font-size: 18px;
color: #242424 ;
}